@model Article 
<div class="details__content pb-30">
                                    <h2>@Model.Title</h2>
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-person"></i>Yazar : @Model.AppUser.Name @Model.AppUser.Surname</li>
                                            <li><i class="fal fa-comments"></i> @ViewBag.CommentCount Comments</li>
                                            <li><i class="fal fa-calendar-alt"></i>@Model.Category.Name</li>
                                            <li><i class="fal fa-calendar-alt"></i>@Model.CreatedDate</li>
                                        </ul>
                                    </div>
                                    <p>@Html.Raw(@Model.Content)</p>
                                </div>